@charset "UTF-8";
.add-1s {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s; }

.add-2s {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-delay: 1s;
  animation-delay: 1s; }

.add-3s {
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-delay: 1.5s;
  animation-delay: 1.5s; }

.add-4s {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-delay: 2s;
  animation-delay: 2s; }

.add-5s {
  -webkit-animation-duration: 2.5s;
  animation-duration: 2.5s;
  -webkit-animation-delay: 2.5s;
  animation-delay: 2.5s; }

@-webkit-keyframes moveleft {
  0% {
    opacity: 0;
    -webkit-transform: translate(-100px);
    transform: translate(-100px); }
  80% {
    -webkit-transform: translate(20px);
    transform: translate(20px); }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
    transform: translate(0); } }

@keyframes moveleft {
  0% {
    opacity: 0;
    -webkit-transform: translate(-100px);
    transform: translate(-100px); }
  80% {
    -webkit-transform: translate(20px);
    transform: translate(20px); }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
    transform: translate(0); } }

@font-face {
  font-family: SolaimanLipi;
  src: url(../vendors/font/SolaimanLipi.ttf); }

body {
  font-family: 'SolaimanLipi' !important; }

.overly {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
  height: 100vh !important;
  background: rgba(0, 0, 0, 0.5);
  display: none; }

@media (max-width: 767px) {
  .m-d-none {
    display: none !important; } }

.banner-sub-page {
  background: rgba(69, 174, 231, 0.08);
  background: -webkit-gradient(linear, left top, right top, from(#1d9944), color-stop(0%, #1d9944), to(#4fa843));
  background: -webkit-linear-gradient(left, #1d9944 0%, #1d9944 0%, #4fa843 100%);
  background: linear-gradient(to right, #1d9944 0%, #1d9944 0%, #4fa843 100%); }
  .banner-sub-page h3 {
    color: #ffffff;
    padding: 35px 0;
    margin: 0; }
  .banner-sub-page .breadcrumb-area {
    color: #ffffff;
    padding: 40px 0;
    margin: 0; }
    .banner-sub-page .breadcrumb-area a {
      color: #cccccc; }

header .header-top {
  background: #1d9944;
  padding: 5px 0; }
  header .header-top p {
    margin: 0;
    padding: 0;
    color: #ffffff;
    font-size: 14px; }
  header .header-top .top-nav ul {
    margin: 0px;
    padding: 0px;
    float: right; }
    header .header-top .top-nav ul li {
      list-style: none;
      float: left; }
      header .header-top .top-nav ul li a {
        color: #ffffff;
        padding: 0 10px;
        font-size: 14px; }
        header .header-top .top-nav ul li a:hover {
          text-decoration: none; }

header .logo {
  padding: 5px 0; }
  header .logo img {
    float: left;
    width: 62px; }
  header .logo h2 {
    float: left;
    font-size: 22px;
    width: 80px;
    padding: 0px;
    color: #0c622e;
    margin: 5px; }
    @media (max-width: 767px) {
      header .logo h2 {
        font-size: 28px !important;
        width: auto !important;
        margin: 16px 0 !important; } }

header .res-nav {
  display: none;
  cursor: pointer; }
  @media (max-width: 767px) {
    header .res-nav {
      display: block;
      border: 1px solid #1d9944;
      background: #ffffff;
      padding: 5px 10px;
      position: absolute;
      right: 20px;
      top: -55px;
      color: #1d9944;
      -webkit-border-radius: 0 10px 10px;
      border-radius: 0 10px 10px;
      z-index: 10; } }

header nav {
  float: right; }
  @media (max-width: 767px) {
    header nav {
      display: none;
      position: fixed;
      left: 0;
      top: 0px;
      border: 0;
      bottom: 0;
      height: 100vh;
      width: 245px !important;
      background: #f8f9fa;
      -webkit-box-shadow: 0 0 5px #000;
      box-shadow: 0 0 5px #000;
      z-index: 2; }
      header nav ul li {
        width: 100%;
        border-bottom: 1px solid #cccccc; }
        header nav ul li a {
          width: 100%;
          padding: 10px 15px !important; }
        header nav ul li i.fas {
          display: inline-block !important;
          color: #1d9944;
          padding-right: 10px; } }
  header nav ul {
    margin: 0;
    padding: 0; }
    header nav ul li {
      margin: 0;
      padding: 0;
      list-style: none;
      float: left; }
      header nav ul li a {
        display: block;
        padding: 27px 15px;
        color: #111111;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 400; }
        header nav ul li a:hover {
          text-decoration: none;
          color: #1d9944; }
      header nav ul li i.fas {
        display: none; }

header .btn-reg {
  margin-top: 22px;
  text-transform: uppercase; }
  @media (max-width: 767px) {
    header .btn-reg {
      margin-top: 0px !important; } }

header .home-login-sec {
  float: right; }
  @media (max-width: 767px) {
    header .home-login-sec {
      float: none;
      text-align: center;
      text-align: center;
      margin-bottom: 15px; }
      header .home-login-sec a {
        padding: 5px !important;
        font-size: 13px; } }
  header .home-login-sec .phone-no {
    color: #1d9944;
    font-size: 14px;
    font-weight: 600; }
    header .home-login-sec .phone-no:hover {
      text-decoration: none; }
    header .home-login-sec .phone-no .fa-phone {
      -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      transform: rotate(90deg); }
  header .home-login-sec .login-area {
    display: inline-block;
    padding: 27px 15px;
    color: #1d9944;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase; }
    header .home-login-sec .login-area:hover {
      text-decoration: none;
      color: #111111; }

.rating {
  padding: 0;
  margin: 0;
  font-size: 12px;
  padding: 1px 5px !important;
  padding-bottom: 3px;
  background: #4fa843;
  display: inline;
  color: #ffffff;
  -webkit-border-radius: 4px;
  border-radius: 4px; }

.home-opt {
  background: -webkit-gradient(linear, left top, left bottom, from(#4fa843), to(#1d9944));
  background: -webkit-linear-gradient(#4fa843, #1d9944);
  background: linear-gradient(#4fa843, #1d9944);
  padding: 15px;
  text-align: center;
  color: #fff;
  margin-bottom: 15px; }
  .home-opt i {
    font-size: 48px;
    padding: 15px 0px; }
  .home-opt h4 {
    font-size: 18px; }

.filter-sec {
  padding: 15px;
  background: aliceblue;
  margin-bottom: 15px; }

.dev-list {
  padding: 15px;
  background: aliceblue;
  margin-bottom: 15px; }
  .dev-list img {
    width: 100%;
    max-height: 150px; }
  .dev-list a {
    color: #111111;
    cursor: pointer; }
  .dev-list p {
    padding: 0px;
    margin: 0px; }

.dev-details {
  padding: 15px !important;
  background: aliceblue;
  margin-bottom: 15px; }
  .dev-details img {
    width: 100%; }
  .dev-details h4 {
    padding: 15px 0;
    margin: 0; }
  .dev-details p {
    padding: 15px 0; }

.recent-post ul {
  margin: 0;
  padding: 0; }
  .recent-post ul li {
    margin: 0;
    padding: 0;
    list-style: none; }
    .recent-post ul li a {
      color: #1d9944;
      padding: 5px 0;
      display: block; }

.vendors-banner {
  background-image: url(../images/banner1.jpg);
  background-position: center;
  -webkit-background-size: cover;
  background-size: cover;
  padding-top: 100px;
  padding-bottom: 50px; }
  .vendors-banner .vendor-name {
    margin-top: 100px;
    color: #ffffff; }
    .vendors-banner .vendor-name h4 {
      text-transform: uppercase;
      padding: 0;
      margin: 0;
      font-size: 28px; }
    .vendors-banner .vendor-name p {
      padding: 0;
      margin: 0; }
  .vendors-banner .vendor-number {
    margin-top: 100px;
    color: #1d9944;
    background: #ffffff;
    text-align: right;
    display: inline-block;
    float: right;
    padding: 10px 15px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    font-size: 22px; }
    .vendors-banner .vendor-number .fas {
      -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      transform: rotate(90deg); }

.login .login-sec {
  border: 1px solid #eee;
  padding: 35px;
  background: #fbfbfb; }

.vendors-details {
  padding: 25px 0; }
  .vendors-details .card {
    margin-bottom: 25px; }
  .vendors-details .nav-tabs a {
    color: #111111;
    text-decoration: none;
    color: #1d9944; }
    .vendors-details .nav-tabs a:hover {
      color: #333333; }
    .vendors-details .nav-tabs a.active {
      color: #333333; }
  .vendors-details .tab-content {
    background: #ffffff;
    padding: 15px;
    border: 1px solid #dee2e6;
    border-top: 0px;
    -webkit-border-radius: 0px 0px 4px 4px;
    border-radius: 0px 0px 4px 4px; }
  .vendors-details .clients-sec {
    text-align: center; }
    .vendors-details .clients-sec img {
      width: 100%;
      padding: 15px; }
  .vendors-details .review-sec .review-single {
    border-bottom: 1px solid #eee;
    border-left: 1px solid #eee;
    margin-bottom: 15px;
    padding: 10px; }
    .vendors-details .review-sec .review-single img {
      width: 100%; }
    .vendors-details .review-sec .review-single p.name {
      text-transform: uppercase;
      font-size: 14px;
      padding: 0px;
      margin: 0; }
    .vendors-details .review-sec .review-single p.review {
      padding: 0px;
      margin: 0;
      font-style: italic;
      font-size: 13px; }
    .vendors-details .review-sec .review-single .rating {
      float: right; }

.page-banner {
  background-image: url(../images/banner1.jpg);
  background-position: center;
  -webkit-background-size: cover;
  background-size: cover;
  height: 150px;
  display: grid;
  place-items: center; }
  @media (max-width: 767px) {
    .page-banner {
      height: 80px; } }
  .page-banner p.caption {
    font-size: 22px;
    font-weight: 100;
    margin: 0px;
    padding: 0;
    color: #ffffff; }
    @media (max-width: 767px) {
      .page-banner p.caption {
        font-size: 14px; } }

.msg-sec {
  text-align: left;
  padding: 15px;
  background: rgba(30, 153, 68, 0.8);
  height: -webkit-fill-available; }
  @media (max-width: 767px) {
    .msg-sec {
      height: auto; } }
  .msg-sec img {
    margin-bottom: 15px; }
  .msg-sec h2 {
    font-size: 24px;
    color: #fff; }
  .msg-sec small {
    line-height: 10px;
    color: #fff; }
  .msg-sec h4 {
    color: #eeeeee;
    margin: 0px;
    padding: 0px; }
  .msg-sec p {
    color: #fff; }

.notice-sec {
  text-align: left;
  padding: 15px;
  background: -webkit-gradient(linear, left top, left bottom, from(#4fa843), to(#1d9944));
  background: -webkit-linear-gradient(#4fa843, #1d9944);
  background: linear-gradient(#4fa843, #1d9944); }
  @media (max-width: 767px) {
    .notice-sec {
      height: auto; } }
  .notice-sec .notice {
    border-bottom: 1px solid rgba(18, 139, 57, 0.5);
    margin-bottom: 13.5px; }
    .notice-sec .notice:last-child {
      border-bottom: 0; }
    .notice-sec .notice h4 {
      font-size: 19px;
      color: #ffffff;
      margin: 5px 0;
      margin-bottom: 0px;
      text-shadow: 1px 1px 1px #000000; }
    .notice-sec .notice p {
      color: #ffffff;
      margin: 6px 0;
      margin-top: 0px;
      font-size: 14px; }
      .notice-sec .notice p a {
        color: #cccccc; }
    .notice-sec .notice small {
      color: #dddddd; }

.banner {
  background-image: url(../images/village.jpg);
  background-position: center;
  -webkit-background-size: cover;
  background-size: cover;
  height: 600px;
  text-align: center; }
  @media (max-width: 767px) {
    .banner {
      height: auto; } }
  .banner .search-opt {
    position: absolute;
    top: 45%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: #fff;
    padding-bottom: 50px; }
    @media (max-width: 767px) {
      .banner .search-opt {
        padding-top: 25px;
        padding-bottom: 0px;
        position: relative;
        top: 0%;
        left: 0%;
        -webkit-transform: translate(0%, 0%);
        -ms-transform: translate(0%, 0%);
        transform: translate(0%, 0%); } }
    .banner .search-opt #service:focus {
      -webkit-box-shadow: none;
      box-shadow: none; }
    .banner .search-opt h1.panel-heading {
      font-weight: 900;
      font-size: 42px; }
      @media (max-width: 767px) {
        .banner .search-opt h1.panel-heading {
          font-size: 24px; } }
    .banner .search-opt p.caption {
      font-size: 20px;
      font-weight: 100; }
      @media (max-width: 767px) {
        .banner .search-opt p.caption {
          font-size: 14px; } }
    .banner .search-opt .book-now-home {
      margin: 0 auto;
      width: -webkit-fit-content;
      width: -moz-fit-content;
      width: fit-content;
      background: #fff;
      padding: 10px;
      -webkit-border-radius: 8px;
      border-radius: 8px; }
      @media (max-width: 767px) {
        .banner .search-opt .book-now-home {
          -webkit-border-radius: 6px;
          border-radius: 6px; }
          .banner .search-opt .book-now-home .input-group.location-code {
            margin-left: 10px; }
          .banner .search-opt .book-now-home .form-group {
            width: 100%;
            margin: 0; } }
      .banner .search-opt .book-now-home .select-service {
        padding: 0px 10px;
        -webkit-border-radius: 0;
        border-radius: 0;
        border: 0;
        border-right: 1px solid #eee;
        color: #999;
        font-size: 18px;
        font-weight: 600;
        width: 50%; }
        @media (max-width: 767px) {
          .banner .search-opt .book-now-home .select-service {
            border-right: 0px solid #eee;
            margin-right: 0px;
            width: 100%;
            border-bottom: 1px solid #eee; } }
        .banner .search-opt .book-now-home .select-service a {
          color: #666666;
          font-size: 20px; }
          .banner .search-opt .book-now-home .select-service a:hover {
            text-decoration: none; }
      .banner .search-opt .book-now-home .dropdown-menu.category-change {
        padding: 15px; }
        .banner .search-opt .book-now-home .dropdown-menu.category-change li a {
          font-size: 16px;
          padding: 5px 0; }
      .banner .search-opt .book-now-home .fas {
        padding: 0px 5px;
        color: #1d9944;
        line-height: 42px; }
      .banner .search-opt .book-now-home .booknow .fas {
        color: #ffffff;
        line-height: 28px; }
      @media (max-width: 767px) {
        .banner .search-opt .book-now-home .booknow {
          display: block;
          width: 100%; } }
      .banner .search-opt .book-now-home #zipcode {
        border: 0px;
        font-size: 20px; }
        .banner .search-opt .book-now-home #zipcode:focus {
          border: 0px;
          -webkit-box-shadow: 0 0 0 !important;
          box-shadow: 0 0 0 !important; }

.filter {
  padding: 25px 0; }
  .filter h3 {
    font-size: 22px;
    color: #333333; }
  .filter .form-control {
    width: 100% !important; }

.search-result {
  padding: 25px 0; }
  .search-result h3 {
    font-size: 22px;
    color: #333333; }

.about {
  padding: 25px 0; }
  .about .about-img {
    float: left;
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    width: 150px;
    margin: 15px; }

.login {
  padding: 100px 0; }

.page-body {
  background: #eeeeee; }
  .page-body .contact-form {
    padding-bottom: 35px; }
  .page-body .filter-sec {
    background: #ffffff;
    padding: 15px; }
  .page-body .vendor {
    background: #ffffff;
    padding: 10px;
    border-bottom: 1px solid #eeeeee; }
    .page-body .vendor .title {
      font-size: 22px;
      color: #333333; }
      .page-body .vendor .title .fas {
        color: #1d9944; }
    .page-body .vendor .exp {
      padding: 0;
      margin: 0;
      font-size: 14px; }
    .page-body .vendor .details-btn {
      padding-top: 35px; }

.welcome-sec {
  margin: 35px 0; }

h2.title {
  font-size: 22px;
  margin: 0px; }

.divider {
  height: 3px;
  width: 100px;
  clear: both;
  display: block;
  background: -webkit-gradient(linear, left top, left bottom, from(#4fa843), to(#1d9944));
  background: -webkit-linear-gradient(#4fa843, #1d9944);
  background: linear-gradient(#4fa843, #1d9944);
  margin-bottom: 15px; }

.h-divider {
  height: 3px;
  width: 100px;
  clear: both;
  display: block;
  background: -webkit-gradient(linear, left top, left bottom, from(#4fa843), to(#1d9944));
  background: -webkit-linear-gradient(#4fa843, #1d9944);
  background: linear-gradient(#4fa843, #1d9944); }

.h-divider-o {
  height: 3px;
  width: 100px;
  margin: 0 auto;
  clear: both;
  display: block;
  background: -webkit-gradient(linear, left top, left bottom, from(#4fa843), to(#1d9944));
  background: -webkit-linear-gradient(#4fa843, #1d9944);
  background: linear-gradient(#4fa843, #1d9944); }

.how-it-works {
  padding: 50px 0;
  background: #eee;
  margin: 50px 0; }
  .how-it-works .hiw {
    padding: 25px 0; }
    .how-it-works .hiw:after {
      contain: " "; }
    .how-it-works .hiw .hiw-item {
      float: left;
      width: -webkit-calc(20% - 20px);
      width: calc(20% - 20px);
      min-width: 170px;
      height: 200px;
      margin: 10px 25px 10px 0;
      border: 1px solid #1d9944;
      padding: 15px;
      text-align: center;
      background: -webkit-gradient(linear, left top, left bottom, from(#4fa843), to(#1d9944));
      background: -webkit-linear-gradient(#4fa843, #1d9944);
      background: linear-gradient(#4fa843, #1d9944);
      color: #ffffff; }
      @media (max-width: 767px) {
        .how-it-works .hiw .hiw-item {
          width: -webkit-calc(100% - 10px);
          width: calc(100% - 10px); } }
      .how-it-works .hiw .hiw-item:last-child {
        margin-right: 0px; }
      .how-it-works .hiw .hiw-item i {
        font-size: 60px;
        padding: 25px 0;
        color: #ffffff; }

.why-us {
  padding: 50px 0;
  text-align: center;
  background: #1d9944;
  color: #ffffff; }
  .why-us .hiw {
    padding: 50px 0; }
    .why-us .hiw .hiw-item {
      float: left;
      width: -webkit-calc(20% - 10px);
      width: calc(20% - 10px);
      min-width: 170px;
      height: 200px;
      margin: 5px;
      border: 1px solid #1d9944; }
      @media (max-width: 767px) {
        .why-us .hiw .hiw-item {
          width: -webkit-calc(100% - 10px);
          width: calc(100% - 10px); } }

.mission {
  padding: 50px 0;
  text-align: center; }
  .mission .hiw {
    padding: 50px 0; }
    .mission .hiw .hiw-item {
      float: left;
      width: -webkit-calc(20% - 10px);
      width: calc(20% - 10px);
      min-width: 170px;
      height: 200px;
      margin: 5px;
      border: 1px solid #1d9944; }
      @media (max-width: 767px) {
        .mission .hiw .hiw-item {
          width: -webkit-calc(100% - 10px);
          width: calc(100% - 10px); } }

.services {
  padding: 50px 0;
  padding-top: 0px; }
  .services .services-list {
    margin: 0;
    padding: 50px 0; }
    .services .services-list li {
      width: 196px;
      height: 175px;
      background-color: #f1f1f1;
      display: inline-block;
      border: 1px #f9f9f9 solid;
      margin-right: 20px;
      margin-bottom: 50px;
      padding: 30px 0 0 0;
      vertical-align: middle; }
      .services .services-list li:hover {
        border-bottom-color: #1d9944; }
        .services .services-list li:hover a {
          color: #1d9944;
          text-decoration: none; }
      .services .services-list li a {
        color: #333333;
        display: block;
        height: 100%;
        font-size: 15px; }
      .services .services-list li img {
        margin-bottom: 25px; }

#trust-security {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#1d9944), to(#4fa843));
  background-image: -webkit-linear-gradient(left top, #1d9944, #4fa843);
  background-image: linear-gradient(to right bottom, #1d9944, #4fa843);
  color: #FFF;
  padding: 50px 0; }
  @media (max-width: 767px) {
    #trust-security {
      background-image: -webkit-gradient(linear, left top, right bottom, from(#1d9944), to(#4fa843));
      background-image: -webkit-linear-gradient(left top, #1d9944, #4fa843);
      background-image: linear-gradient(to right bottom, #1d9944, #4fa843); } }
  #trust-security .panel-heading:before {
    background: #FFFFFF; }
  #trust-security .box_content a.read-more {
    color: #fff;
    font-size: 15px;
    font-weight: 600; }
  #trust-security p {
    color: #fff;
    min-height: 75px;
    margin-bottom: 8px; }
  #trust-security .icon_box_one .icons {
    min-width: 65px;
    display: block;
    float: left;
    font-size: 30px;
    line-height: 1;
    text-align: center;
    margin-top: -7px; }
  #trust-security .icon_box_one .box_content {
    margin-left: 75px;
    margin-bottom: 50px; }
    #trust-security .icon_box_one .box_content h4 {
      font-size: 19px;
      font-weight: 600;
      margin: 0 0 12px;
      text-transform: uppercase; }
  #trust-security .icon_box_one .panel-heading {
    padding: 0 15px 20px; }
  #trust-security .glyphicon-menu-right {
    font-size: 12px; }

#numbers {
  background-color: #f7f7f7;
  padding: 75px 0; }
  #numbers .counter_box .counter_number {
    color: #111111;
    font-size: 20px;
    font-weight: 700;
    margin: 10px 0 0;
    line-height: 15px; }
  #numbers .counter_box .counter_name {
    color: #333333;
    font-size: 16px;
    font-weight: 400;
    margin: 7px 0 0; }
  #numbers .counter_box .counter_icon {
    font-size: 44px;
    color: #FFF;
    width: 80px;
    height: 80px;
    margin: 0 auto;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    padding-top: 6px;
    background: #4fa843;
    background: -webkit-gradient(linear, left top, right bottom, from(#1d9944), to(#4fa843));
    background: -webkit-linear-gradient(left top, #1d9944, #4fa843);
    background: linear-gradient(to right bottom, #1d9944, #4fa843); }

#features {
  color: #FFF;
  background: #1d9944;
  background: -webkit-gradient(linear, left top, right top, from(#4fa843), to(#1d9944));
  background: -webkit-linear-gradient(left, #4fa843, #1d9944);
  background: linear-gradient(to right, #4fa843, #1d9944);
  position: relative;
  padding: 60px 0 0px 0;
  color: #FFF;
  background: url(../images/banner2.png) repeat scroll center 0/cover; }
  #features a {
    color: #FFF; }
  #features .icon_box_one {
    margin-bottom: 24px; }
    #features .icon_box_one .icons {
      min-width: 65px;
      display: block;
      float: left;
      font-size: 30px;
      line-height: 1;
      text-align: center;
      margin-top: -7px; }
    #features .icon_box_one i {
      min-width: 30px;
      display: block;
      float: left;
      font-size: 29px;
      line-height: 1;
      text-align: center; }
    #features .icon_box_one .box_content {
      margin-left: 45px; }
      #features .icon_box_one .box_content h4 {
        line-height: 28px;
        margin: 10px 0;
        font-size: 22px;
        font-weight: 400;
        font-family: 'Open Sans', sans-serif; }

.features-section h2 {
  font-family: "Open Sans",sans-serif;
  font-size: 29px;
  font-weight: 600;
  line-height: 22px;
  margin: 15px 0 40px; }

.features-section:before {
  background: #1d9944;
  background: -webkit-gradient(linear, left top, right top, from(#1d9944), to(#4fa843));
  background: -webkit-linear-gradient(left, #1d9944, #4fa843);
  background: linear-gradient(to right, #1d9944, #4fa843); }

#call-to-action {
  background: url(../images/logo.png) repeat scroll center 0/cover;
  position: relative;
  padding: 40px 0; }
  #call-to-action h2 {
    color: #fff;
    font-size: 28px;
    font-weight: 600;
    margin: 0 0 10px;
    line-height: 23px; }
  #call-to-action p {
    color: #fff;
    margin: 0; }
  #call-to-action a.btn {
    -webkit-border-radius: 25px;
    border-radius: 25px;
    border-width: 2px;
    color: #fff;
    font-size: 19px;
    font-weight: 600;
    margin: 0;
    padding: 13px 24px; }
  #call-to-action a.btn:hover {
    background-color: #fff;
    color: #333333; }
  #call-to-action .btn.btn-white {
    background: #fff;
    color: #666;
    border-bottom: 4px solid #ddd; }
  #call-to-action .btn-outline {
    background-color: transparent;
    color: inherit;
    -webkit-transition: all .5s;
    transition: all .5s;
    border: 1px #FFF solid; }

.free_consultation::before {
  background: rgba(69, 174, 231, 0.08);
  background: -webkit-gradient(linear, left top, right top, from(#1d9944), color-stop(0%, #1d9944), to(#4fa843));
  background: -webkit-linear-gradient(left, #1d9944 0%, #1d9944 0%, #4fa843 100%);
  background: linear-gradient(to right, #1d9944 0%, #1d9944 0%, #4fa843 100%);
  content: "";
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%; }

footer {
  background-color: #444;
  color: #FFF;
  padding-top: 30px;
  -webkit-box-shadow: inset 0px 9px 19px -10px rgba(0, 0, 0, 0.87);
  box-shadow: inset 0px 9px 19px -10px rgba(0, 0, 0, 0.87); }
  footer ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    display: inline-block;
    margin-right: 20px;
    vertical-align: top; }
    footer ul li,
    footer ul li a,
    footer ul li a:focus,
    footer ul p {
      color: #FFF; }
    footer ul li a:hover {
      color: #fff;
      -webkit-text-decoration-line: unset;
      -moz-text-decoration-line: unset;
      text-decoration-line: unset; }
  footer .footerbg p {
    font-size: 13px; }
  footer .footerbg .about_info p {
    font-size: 15px;
    margin-bottom: 15px; }
  footer .footerbg .about_info {
    margin: 15px 0 0; }
  footer .fa {
    font-size: 20px;
    padding-right: 10px;
    vertical-align: sub; }
  footer ul li {
    font-size: 14px;
    line-height: 27px; }
  footer h4 {
    font-size: 22px;
    font-weight: 600;
    line-height: 40px;
    margin: 0 0 15px; }
  footer .fa.fa-caret-right {
    font-size: 18px;
    padding-right: 8px; }
  footer .logo-dark {
    margin-bottom: 13px;
    width: 100px; }
  footer .newsletter {
    margin-bottom: 10px; }
    footer .newsletter .input-group {
      border-bottom: 1px solid; }
    footer .newsletter .input-group input {
      background-color: inherit;
      border: medium none;
      -webkit-box-shadow: none;
      box-shadow: none;
      color: #fff;
      font-size: 15px;
      padding: 5px 10px 15px 0; }
    footer .newsletter .btn-default {
      background-color: inherit;
      border: medium none;
      color: #23e5eb;
      padding: 0 0 5px; }
    footer .newsletter .fa.fa-long-arrow-right {
      font-size: 22px; }
  footer .form-control::-moz-placeholder {
    color: #fff; }

.copyright {
  margin: 0; }

.footer-scoails.float-right {
  margin-right: 0; }

.footer-scoails li {
  list-style: none;
  display: inline-block; }

.newsletter .btn:active, .newsletter .btn:hover {
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: inherit; }

.bottom-footer {
  background-color: #353535;
  margin-top: 40px;
  padding: 15px 0; }

.bottom-footer .fab {
  background-color: #fff;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  color: #3b3b3b;
  font-size: 17px;
  height: 25px;
  margin-left: 5px;
  padding: 3px 0;
  text-align: center;
  width: 25px; }

.bottom-footer .fab:hover {
  background-color: #e3e1e1; }

.top_awro {
  background: #1d9944;
  -webkit-box-shadow: 0px 0px 10px #eee;
  box-shadow: 0px 0px 10px #eee;
  cursor: pointer;
  padding: 5px 8px;
  position: fixed;
  z-index: 1;
  bottom: 50px;
  right: 20px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  display: none; }
  .top_awro .fa {
    font-size: 22px;
    padding-right: 0;
    line-height: 24px; }

.container-fluid.footerbg {
  position: relative; }

.single-blog-post {
  margin-bottom: 75px; }
  .single-blog-post .img-holder img {
    border: 1px solid #aaaaaa;
    width: 100%; }
  .single-blog-post .overlay-style-two {
    background-color: #45ade7;
    color: #fff;
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    height: 60px;
    line-height: 22px;
    padding: 8px 0;
    text-align: center;
    width: 53px;
    margin-right: 15px; }
  .single-blog-post .text-holder {
    display: inline-block;
    vertical-align: top; }
    .single-blog-post .text-holder .blog-title {
      color: #333333;
      font-size: 20px;
      font-weight: 600;
      line-height: 26px;
      margin: 0 0 7px;
      text-transform: uppercase; }
    .single-blog-post .text-holder .meta-info .post-info {
      padding: 0px; }
      .single-blog-post .text-holder .meta-info .post-info li {
        display: inline-block;
        float: left;
        line-height: 15px;
        padding-right: 15px; }
        .single-blog-post .text-holder .meta-info .post-info li i {
          color: #45ade7;
          display: inline-block;
          font-size: 16px;
          padding-right: 10px; }
        .single-blog-post .text-holder .meta-info .post-info li a {
          color: #333333;
          font-size: 16px;
          font-weight: 400; }
  .single-blog-post .date_more {
    margin: 50px 0 30px; }
  .single-blog-post .text p {
    color: #777;
    margin-bottom: 45px; }
  .single-blog-post .readmore {
    border: 1px solid #24e4eb;
    color: #45ade7;
    font-size: 15px;
    font-weight: 600;
    margin: 0;
    padding: 9px 20px;
    text-transform: uppercase; }

.sidebar-wrapper .single-sidebar .search-form {
  border-bottom: 1px solid #aaa; }
  .sidebar-wrapper .single-sidebar .search-form input[type="text"] {
    border: medium none;
    -webkit-box-shadow: none;
    box-shadow: none;
    width: 85%;
    font-size: 15px;
    color: #aaaaaa;
    padding: 5px; }
  .sidebar-wrapper .single-sidebar .search-form button {
    background: none;
    color: #fff;
    height: 50px;
    padding: 12px 0;
    text-align: center;
    border: medium none;
    width: 13%; }
  .sidebar-wrapper .single-sidebar .search-form button i {
    font-size: 19px;
    color: #aaaaaa; }

.sidebar-wrapper .single-sidebar .sec-title {
  margin-top: 22px;
  overflow: hidden;
  padding-bottom: 10px; }
  .sidebar-wrapper .single-sidebar .sec-title h3 {
    color: #333333;
    font-size: 19px;
    font-weight: 600;
    margin: 0; }

.sidebar-wrapper .single-sidebar .categories {
  padding: 0; }
  .sidebar-wrapper .single-sidebar .categories li {
    border-bottom: 1px solid #dddddd;
    font-size: 14px;
    line-height: 42px;
    list-style: outside none none;
    padding-left: 25px; }
    .sidebar-wrapper .single-sidebar .categories li:before {
      color: #45ade7;
      content: "♦";
      left: 15px;
      position: absolute;
      font-size: 22px; }
  .sidebar-wrapper .single-sidebar .categories li a {
    color: #333333; }

.sidebar-wrapper .single-sidebar .latest-post {
  padding: 0px; }
  .sidebar-wrapper .single-sidebar .latest-post li {
    list-style: outside none none;
    margin-bottom: 0;
    padding-bottom: 5px;
    padding-left: 70px;
    position: relative; }
    .sidebar-wrapper .single-sidebar .latest-post li .img-holder {
      display: block;
      left: 0;
      overflow: hidden;
      position: absolute;
      top: 0;
      width: 75px; }
    .sidebar-wrapper .single-sidebar .latest-post li .title-holder {
      padding-left: 20px; }
      .sidebar-wrapper .single-sidebar .latest-post li .title-holder a .post-title {
        color: #777777;
        font-size: 13px;
        line-height: 20px;
        position: relative; }
      .sidebar-wrapper .single-sidebar .latest-post li .title-holder .post-date {
        color: #45ade7;
        display: block;
        font-size: 14px;
        font-style: italic; }

.sidebar-wrapper .single-sidebar .popular-tag {
  padding: 0; }
  .sidebar-wrapper .single-sidebar .popular-tag li {
    display: inline-block;
    margin: 0 3px 15px; }
    .sidebar-wrapper .single-sidebar .popular-tag li a {
      border: 1px solid #cac7c7;
      color: #333333;
      display: block;
      font-size: 15px;
      font-weight: 400;
      padding: 6px 18px;
      background-color: #ebebeb;
      -webkit-border-radius: 4px;
      border-radius: 4px; }
      .sidebar-wrapper .single-sidebar .popular-tag li a:hover {
        border: 1px solid #45ade7;
        color: #fff;
        background-color: #45ade7; }

.pagination {
  margin: 0; }

.share ul {
  padding: 0px; }
  .share ul li {
    list-style: none;
    float: left; }
    .share ul li a {
      text-decoration: none;
      color: #ffffff;
      text-align: center;
      padding: 3px;
      font-size: 22px;
      line-height: 23px;
      background: #4fa843;
      margin-left: 5px;
      display: block;
      width: 30px;
      height: 30px;
      -webkit-border-radius: 3px;
      border-radius: 3px; }

.blog_post .blog_p {
  border-left: 3px solid #45ade7;
  padding: 5px 0 5px 25px;
  font-size: 18px;
  color: #71706c;
  font-style: italic;
  line-height: 34px; }

.blog_post .single-blog-post {
  margin-bottom: 0px; }

.blog_post .media-heading {
  color: #222222;
  font-size: 18px;
  font-weight: 600;
  line-height: 26px;
  margin: 0 0 10px; }

.blog_post .media-body {
  color: #777;
  font-size: 14px;
  padding-left: 18px; }
  .blog_post .media-body small {
    color: #aaaaaa;
    font-size: 14px;
    font-style: italic;
    line-height: 30px; }

.blog_post .panel-heading {
  font-size: 25px;
  margin-bottom: 45px;
  margin-top: 30px;
  padding: 0 0 6px;
  font-weight: 700; }
  .blog_post .panel-heading a {
    color: #2896df; }
  .blog_post .panel-heading:before {
    bottom: -8px;
    left: 25px; }

.blog_post .media {
  margin-bottom: 40px;
  margin-top: 0px; }

.blog_post input {
  border-color: #aaaaaa;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #b1b1b1;
  font-size: 17px;
  height: 45px; }

.blog_post .form-control {
  border-color: #aaaaaa;
  -webkit-border-radius: 5px !important;
  border-radius: 5px !important;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #b1b1b1;
  font-size: 17px;
  width: 100%; }

.blog_post .form-group {
  margin-bottom: 40px; }
  .blog_post .form-group .btn-skin {
    font-size: 19px;
    font-weight: 600;
    padding: 10px 15px; }

.blog_post .input-group {
  width: 100%; }

.blog_post footer {
  margin-top: 35px; }

#What_offer {
  padding-bottom: 25px; }
  #What_offer .icon_box_one .box_content {
    margin-bottom: 40px;
    margin-left: 75px; }
  #What_offer .icon_box_one .icons {
    display: block;
    float: left; }
  #What_offer .icon_box_one .box_content {
    margin-bottom: 55px;
    margin-left: 110px; }
  #What_offer .box_content > h4 {
    font-size: 19px;
    font-weight: 600;
    margin: 0 0 12px;
    text-transform: uppercase;
    color: #333333; }
  #What_offer .box_content p {
    color: #777777; }

#explore_services {
  padding-bottom: 25px; }
  #explore_services .services-list li {
    border: 1px solid #aaaaaa;
    margin-right: -5px;
    background-color: inherit; }

.service_detail .step-one::before {
  top: 126px; }

#services {
  padding-bottom: 25px; }

.services-list {
  margin: 0;
  padding: 0; }
  .services-list li {
    width: 200px;
    height: 175px;
    background-color: #fafafa;
    display: inline-block;
    border: 1px #f9f9f9 solid;
    margin-right: 20px;
    margin-bottom: 50px;
    padding: 30px 0 0 0;
    vertical-align: middle; }
    .services-list li a {
      color: #333333;
      display: block;
      height: 100%;
      font-size: 15px; }
    .services-list li:hover {
      border-bottom-color: #23e4ea; }
      .services-list li:hover a {
        color: #23e4ea;
        text-decoration: none; }
    .services-list li img {
      margin-bottom: 15px; }
  .services-list li:nth-child(5),
  .services-list li:nth-child(10) {
    margin-right: 0px; }

.carousel-inner {
  width: auto !important; }

@media (min-width: 768px) {
  /* show 3 items */
  .carousel-inner .active,
  .carousel-inner .active + .carousel-item,
  .carousel-inner .active + .carousel-item + .carousel-item,
  .carousel-inner .active + .carousel-item + .carousel-item + .carousel-item {
    display: block; }
  .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
  .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item,
  .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item,
  .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item + .carousel-item {
    -webkit-transition: none;
    transition: none; }
  .carousel-inner .carousel-item-next,
  .carousel-inner .carousel-item-prev {
    position: relative;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  .carousel-inner .active.carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
    position: absolute;
    top: 0;
    right: -25%;
    z-index: -1;
    display: block;
    visibility: visible; }
  /* left or forward direction */
  .active.carousel-item-left + .carousel-item-next.carousel-item-left,
  .carousel-item-next.carousel-item-left + .carousel-item,
  .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item,
  .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item,
  .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
    position: relative;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    visibility: visible; }
  /* farthest right hidden item must be abso position for animations */
  .carousel-inner .carousel-item-prev.carousel-item-right {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    display: block;
    visibility: visible; }
  /* right or prev direction */
  .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
  .carousel-item-prev.carousel-item-right + .carousel-item,
  .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item,
  .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item,
  .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
    position: relative;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
    display: block;
    visibility: visible; } }
